ul{
	list-style-type: none;
	padding: 0px;
	/*margin:0px;*/
}

.container {
	width: 90%;
	margin:0, auto;
}

h1 {
	margin: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-end: 0px;
	-webkit-margin-start: 0px;
	width: 60%;
	display:inline;
}

li img{
	display:inline-block;
	padding-right: 50px;
	padding-left: 50px;
}

p{
	display:inline-block;
}

.description{
	display:block;
}

.header{
	font-size: 30px;
}

.hidden{
	display: none;
}

.title{
	vertical-align: top;
	width: 50%;
}

.rating{
	float:right;
}

.details {
	display: inline-block;
	vertical-align: top;
	width: 60%;
	font-size: 30px;
	text-align: left;
}